.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  min-height: calc(100 * var(--vh, 1vh));

  main {
    flex-grow: 1;
  }
}

.rouble {
  font-family: $ff-rouble;
  /* stylelint-disable-next-line declaration-no-important */
  font-weight: 400 !important;
  /* stylelint-disable-next-line declaration-no-important */
  text-transform: lowercase !important;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  border: 0;
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  scrollbar-width: none;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line declaration-no-important */
  transition: none !important;
}
