.btn {
  @include hover-focus {
    opacity: 0.8;
  }

  cursor: pointer;

  display: inline-flex;

  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
