.modal {
  pointer-events: none;
  scrollbar-width: none;

  position: fixed;
  z-index: 1000;
  inset: 0;
  transform: scale(1.2);

  overflow-y: auto;
  display: flex;
  flex-direction: column;

  visibility: hidden;
  opacity: 0;
  background-color: rgba($color-default-black, 0.8);

  transition: opacity $trans-modal, transform $trans-modal,
    visibility $trans-modal;

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    @include vp-768 {
      padding: 60px 16px;
    }

    position: relative;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100%;
    padding: 60px 40px;
  }

  &__overlay {
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &__content {
    @include vp-768 {
      width: 100%;
      padding: 20px;
    }

    position: relative;
    width: 600px;
    padding: 40px;
    background-color: $color-default-white;
  }

  &__close-btn {
    cursor: pointer;

    position: absolute;
    z-index: 1;
    top: 22px;
    right: 22px;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    pointer-events: auto;
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}
