.btn {
  display: inline-flex;
  padding: 10px 20px;
  border: none;
  background-color: $color-neon-blue;
  color: $color-default-white;
  cursor: pointer;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
